<!DOCTYPE html>
<html lang="ru">
<head>
    <title>@ViewBag.Title</title>
    <meta charset="windows-1251">
    <link rel="stylesheet" href="~/css/reset.css" type="text/css" media="all">
    <link rel="stylesheet" href="~/css/layout.css" type="text/css" media="all">
    <link rel="stylesheet" href="~/css/style.css" type="text/css" media="all">
    <link rel="icon" href="~/favicon.ico" type="image/x-icon"> 
    <link rel="shortcut icon" href="~/favicon.ico" type="image/x-icon"> 
    <link href="~/css/jquery-ui-1.10.1.custom.min.css" rel="stylesheet" />
    <script type="text/javascript" src="~/js/jquery-1.9.1.min.js"></script>
    <script type="text/javascript" src="~/js/jquery-ui-1.10.1.custom.js"></script>
    
    <script type="text/javascript" src="~/js/cufon-yui.js"></script>
    <script type="text/javascript" src="~/js/cufon-replace.js"></script>
    <script type="text/javascript" src="~/js/CyrillicOld_700.font.js"></script>
    <script type="text/javascript" src="~/js/imagepreloader.js"></script>
    <script type="text/javascript">
        preloadImages([
        '~/images/menu1_active.gif',
        '~/images/menu2_active.gif',
        '~/images/menu3_active.gif',
        '~/images/menu4_active.gif',
        '~/images/menu5_active.gif']);
    </script>
    <!--[if lt IE 9]>
	<script type="text/javascript" src="http://info.template-help.com/files/ie6_warning/ie6_script_other.js"></script>
	<script type="text/javascript" src="js/html5.js"></script>
<![endif]-->
</head>
    <body id="@ViewBag.PageId">
    <div class="body1">
	<div class="body2">
		<div class="main">
<!-- header -->
			<header>
			    <div class="wrapper">
			        <img src="~/Images/cross.png" style="float:left; margin-top:10px;" /><h1 style="color: white; font-size:36px; margin-top:15px;">@*<a href="index.html" id="logo"></a>*@Троицкий храм города Реутов</h1>
			        <div class="right">
			            <nav>
			                <ul id="top_nav">
			                    <li><a id="helplink" style="cursor:pointer" onclick="$('#help').dialog({ position: { my: 'left top', at: 'left bottom', of: '#helplink' } });">Помощь храму</a></li>
			                    <li><a href="#">Карта сайта</a></li>
			                </ul>
                            <div id="help" title="Пожертвования храму" style="display: none; background-color:beige">
			                    <p>Здесь будет контактная информация о банковских реквизитах<p>
			                </div>
			                <form id="search" method="post">
			                    <div>
			                        <input type="submit" class="submit" value="">
			                        <input type="text" class="input">
			                    </div>
			                </form>
			            </nav>
			        </div>
			    </div>
				<nav id="menu">
					<ul>
						<li class="nav1"><a href="~/">Главная</a></li>
						<li class="nav2"><a href="~/Home/About">Приход</a></li>
						<li class="nav3"><a href="~/">Медиатека</a></li>
						<li class="nav4"><a href="~/Home/Service">Богослужение</a></li>
						<li class="nav5"><a href="~/Home/Contact">Контакты</a></li>
					</ul>
				</nav>
			</header><div class="ic">Троицкий храм города Реутов!</div>
			</div>
		</div>
	</div>
    @RenderSection("featured", required: false)
    <!-- / header -->
    <!-- content -->
    @RenderBody()           
    <!-- content -->
    <!-- footer -->
    <div class="body8">
	<div class="body9">
		<div class="main">
			<footer>
				<div class="col_1">
					<h3>Мы в соцсетях</h3>
					<ul class="list3">
						<li><a href="http://vk.com/troitsa_reutov">ВКонтакте</a></li>						
						<li><a href="#">Блог настоятеля</a></li>
					</ul>
				</div>
				<div class="col_2 pad_left1">
					<h3>Социальное служение</h3>
					<div class="wrapper">
						<ul class="list3 col_1">
							@Html.Partial("SocialColumnOne")
						</ul>
						<ul class="list3 col_1 pad_left1">
							@Html.Partial("SocialColumnTwo")
						</ul>
					</div>
				</div>
				<div class="col_3">
					@*<a href="index.html" id="footer_logo">First</a>*@
                    <h3>Троицкий Храм</h3>
					<p class="center"><a rel="nofollow" href="http://sorokin-web.ru/" target="_blank">Веб студия Сорокина</a><br>
							разработка сайта </p>
					@*<p class="center">
							<a href="http://www.d99.ru/" target="_blank">D99.ru</a><br>
							продвижение сайтов</p>*@
				</div>
			</footer>
		</div>
<!-- / footer -->
	</div>
</div>
    <script type="text/javascript"> Cufon.now(); </script>
        <script type="text/javascript">
            $(function () {
         
                $('.@ViewBag.ActiveClass').attr('id', 'active');
                 
            });
            
            //$(function () {
                
            //    $("#help").dialog();
                
            //});

        </script>
    </body>
</html>
