@model ChirchServices
@{
    ViewBag.Title = "Богослужение";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.ActiveClass = "nav4";
}
<!-- content -->
	<div class="body5">
		<div class="body6">
			<div class="main">
				<div class="wrapper">
					<figure class="left"><img src="~/images/temple.png" alt=""></figure>
					<h2>Свежая информация о расписнии <span>церковных служб</span></h2>
					Здесь наверное будет какой-то текст.
				</div>
			</div>
		</div>
	</div>
	<div class="body7">
		<div class="main">
			<section id="content">
				<div class="wrapper">
					<article class="col2">
					    <div class="pad1">
					        <h2>Расписание на <span>МАРТ</span> месяц:</h2>
                            <table style="border: 1px solid black">
                            @foreach (var dateGroup in Model.TimetableServices.GroupBy(t=>t.date).OrderBy(t=>t.Key.Ticks))
                            {
                                if (dateGroup.Key >= DateTime.Now.Date)
                                 {
                                     <tr style="border-bottom: 1px solid black">
                                         <td style="border-right: 1px solid black; width:20%;"><h1>@dateGroup.Key.ToString("m")</h1></td>
                                         <td style="border-right: 1px solid black; padding:10px;  text-align:center">@dateGroup.FirstOrDefault().megadescription</td>
                                         <td style="width:30%">
                                             <table>
                                                 @foreach (var day in dateGroup.OrderBy(t => t.time.Ticks))
                                                 {
                                                     <tr>
                                                         <td>
                                                             @day.time.ToString("HH:mm") <span>-</span> @day.eventdesciption <br/>            
                                                         </td>
                                                     </tr>
                                                 }
                                             </table>
                                         </td>
                                     </tr>
                                 }
                            }
                            </table>
					    </div>
					</article>
					<article class="col1 pad_left1">
					@Html.Partial("Hotlinks");
					</article></div></section>
		</div>
		@*		<div class="wrapper">
				<article class="col1">
					<div class="box1"><div class="box1_bot"><div class="box1_top">
						<div class="pad"><div class="pad1">
							<h2 class="center">Think.</h2>
							<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore.</p>
							<div class="wrapper center">
								<a href="#" class="button"><span><span>More</span></span></a>
							</div>
						</div></div>
					</div></div></div>
        		</article>
				<article class="col1 pad_left1">
					<div class="box1"><div class="box1_bot"><div class="box1_top">
						<div class="pad">
								<div class="pad1">
							<h2 class="center">Choose.</h2>
							<p>Veritatis quasi architecto beatae bitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia.</p>
							<div class="wrapper center">
								<a href="#" class="button"><span><span>More</span></span></a>
							</div>
						</div></div>
					</div></div></div>
        		</article>
				<article class="col1 pad_left1">
					<div class="box1"><div class="box1_bot"><div class="box1_top">
						<div class="pad">
								<div class="pad1">
							<h2 class="center">Succeed.</h2>
							<p>Quuntur magni dolores eos qui ratione voluptatem sequi nesciunt neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur.</p>
							<div class="wrapper center">
								<a href="#" class="button"><span><span>More</span></span></a>
							</div>
						</div></div>
					</div></div></div>
        		</article>
				</div>*@
			
		</div>
<!-- / content -->

