@using System.Globalization
@model ChirchServices
@{
    ViewBag.Title = "Богослужение";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.ActiveClass = "nav4";
}
<!-- content -->
	<div class="body5">
		<div class="body6">
			<div class="main">
				<div class="wrapper">
					<figure class="left"><img src="~/images/temple.png" alt=""></figure>
					<h2>Свежая информация о расписнии <span>церковных служб</span></h2>
					«В храме вы - перед Лицом Божества! ... Ходите чаще в церковь, дети! Молитесь от всего сердца. Молитва - вода живая, душа ею утоляет жажду свою» Св.прав. Иоанн Кронштадтский. 
				</div>
			</div>
		</div>
	</div>
	<div class="body7">
		<div class="main">
			<section id="content">
				<div class="wrapper">
					<article class="col2">
					    <div class="pad1">
					        <h2>Расписание на <span>ближайшие</span>дни:</h2>
                            <table style="border: 1px solid black">
                            @foreach (var dateGroup in Model.TimetableServices.GroupBy(t=>t.date).OrderBy(t=>t.Key.Ticks))
                            {
                                CultureInfo culture = CultureInfo.CreateSpecificCulture("ru-RU");
                                
                                if (dateGroup.Key >= DateTime.Now.Date)
                                 {
                                     <tr style="border-bottom: 1px solid black; text-align:center; vertical-align:middle">
                                         <td style="border-right: 1px solid black; width:20%; text-align:center; vertical-align:middle">
                                             @if (dateGroup.Key.DayOfWeek==DayOfWeek.Sunday)
                                             {
                                                 <b style="color:red">@dateGroup.Key.ToString("dddd") <br />   @dateGroup.Key.ToString("dd MMMM", culture)</b>
                                             }
                                             else
                                             {
                                                 <b style="color:darkblue">@dateGroup.Key.ToString("dddd") <br />   @dateGroup.Key.ToString("dd MMMM", culture)</b>
                                             }
                                         </td>
                                         <td style="border-right: 1px solid black; padding:10px;  text-align:center">
                                             @{
                                                 timetable firstOrDefault = dateGroup.FirstOrDefault();
                                                 if (firstOrDefault != null){@firstOrDefault.megadescription}
                                             }
                                             
                                         </td>
                                         <td style="width:30%">
                                             <table style="width:100%">
                                                 @foreach (var day in dateGroup.OrderBy(t => t.time.Ticks))
                                                 {
                                                     <tr style="text-align:left">
                                                         <td>
                                                            <b>@day.time.ToString("HH:mm")</b> <span>-</span> @day.eventdesciption <br/>            
                                                         </td>
                                                     </tr>
                                                 }
                                             </table>
                                         </td>
                                     </tr>
                                 }
                            }
                            </table>
					    </div>
					</article>
					<article class="col1 pad_left1">
					@Html.Partial("Hotlinks");
					</article></div></section>
		</div>
		@*		<div class="wrapper">
				<article class="col1">
					<div class="box1"><div class="box1_bot"><div class="box1_top">
						<div class="pad"><div class="pad1">
							<h2 class="center">Think.</h2>
							<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore.</p>
							<div class="wrapper center">
								<a href="#" class="button"><span><span>More</span></span></a>
							</div>
						</div></div>
					</div></div></div>
        		</article>
				<article class="col1 pad_left1">
					<div class="box1"><div class="box1_bot"><div class="box1_top">
						<div class="pad">
								<div class="pad1">
							<h2 class="center">Choose.</h2>
							<p>Veritatis quasi architecto beatae bitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia.</p>
							<div class="wrapper center">
								<a href="#" class="button"><span><span>More</span></span></a>
							</div>
						</div></div>
					</div></div></div>
        		</article>
				<article class="col1 pad_left1">
					<div class="box1"><div class="box1_bot"><div class="box1_top">
						<div class="pad">
								<div class="pad1">
							<h2 class="center">Succeed.</h2>
							<p>Quuntur magni dolores eos qui ratione voluptatem sequi nesciunt neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur.</p>
							<div class="wrapper center">
								<a href="#" class="button"><span><span>More</span></span></a>
							</div>
						</div></div>
					</div></div></div>
        		</article>
				</div>*@
			
		</div>
<!-- / content -->

